@charset "UTF-8";
@font-face{
    font-family: [IDroid];
    src: url(fontes/idroid.otf);
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background: lightgreen;
}
header{
    background-image: linear-gradient(to bottom, #2FA766, #05361B);
    height: 200px;
}

header > h1{
    text-align: center;
    color: #fff;
    margin: auto;
    padding: 40px 0px 20px 0px;
}

header > p{
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}
.menu{
padding: 10px 5px 10px 5px;
border-radius: 5px;
margin-left: 4px;

}
.menu:hover{
    background-color: #2FA866;
}

nav > a{
    text-decoration: none;
    color: #fff;
}

main{
    background: #fff;
    margin: auto;
    box-shadow: 1px 1px 5px black;
    padding: 2px;
}
main > h2{
    margin-top: 0px;
    font-family: IDroid;
    font-size: 1.8em;
    padding-left: 20px;
}
section > h2{
background-image:linear-gradient(to right, #84E2AE, transparent);
font-family: IDroid;
width: 800px;
margin-left: 18px;
padding: 0px 15px;
}

article{
    margin: 15px 0px;
    padding-left: 20px;
}

article > p{
    text-align: justify;

}